.navbar .nav-input {
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .nav-form {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 37.5em) {
    .navbar .nav-input {
        width: 150px;
        margin-top: .5rem
    }

    .navbar .nav-label {
        margin-left: 3px;
    }

    .navbar .nav-form {
        display: block;
    }
}

.app-header {
    margin-bottom: 0;
    border-radius: 0;
}