*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media screen and (max-width: 48em) {
  html {
    font-size: 87.5%;
    hyphens: auto;

    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 75%;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 37.5em) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
